<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>DID Developer Community membership VC</title>
        <link rel="stylesheet" href="/lib/styles.css">
    </head>
    <body>
      <p style="text-align: center;">
        <img src="https://didwebstorage.blob.core.windows.net/logo/diddc_logo.png" height=200px; />
      </p>
      <div style="text-align: center;">
        <h2>DID Developer Community membership credentials</h2>
        <P>
          <a href="/verifier">Verify your DID Developer Community Credential</a>
        </P>
      </div>
    </body>
</html>